%h2
    Contact
%p
    Calle Génova 5, Escalera 1, 5º Izquierda<br>
    50007 Zaragoza<br>
    España (Spain)<br>
%p
    <a href="mailto:david.ceresuela@gmail.com">e-mail</a> <br>
    <a href="David-Ceresuela.asc">GPG public key</a>