%html
    %head
        %title
            David Ceresuela
        %link(rel="stylesheet" href="css/style.css")
   
    %body
        #wrapper
            #header
                #logo
                    %h1
                        %a David Ceresuela
            #menu
                %ul
                    %li About
                    /%a(href="https://github.com/dcere")
                    %li Github
                    /%a(href="#")
                    %li CV
                    %li Contact
            #page
                #sidebar
                    #box
                        %h3 Description
                        %p
                            This is a very brief description.
                #content
                    #box
                        %h2
                            Main text
                        %p
                            This is some text. And here comes another sentence to make it longer than the brief description.
        #footer
            &copy; 2012 dcere.herokuapp.com | Powered by <a href="http://nodethirtythree.com/jquery/dropotron">Dropotron</a> | Design by <a href="http://www.freecsstemplates.org/">FCT</a>