%h2
    Education
%h3
    Thesis
%p
    I have finished the master thesis to be a Computer Engineer. The main task realized in this thesis consists of a <a href="http://puppetlabs.com/">Puppet</a> extension to manage clouds, and you can find the code <a href="https://github.com/dcere/pfc">here</a>. The goal of the extension is to make the administration and configuration process of the clouds as easy and automatic as possible. To achieve this, a generic cloud provider is supplied. This provider contains all the function common to all types of clouds: start, monitor and stop functions. It has been tested with <a href="http://appscale.cs.ucsb.edu/">AppScale</a>, <a href="http://www.adaptivecomputing.com/products/open-source/torque/">TORQUE</a> and web clouds. To learn more about this you can check the <a href="https://github.com/dcere/pfc/wiki">wiki</a> of the project.

%h3
    University
%p
    I have obtained my Bachelor of Science in Computer Engineer (oficially "Ingeniero en Informática") from <a href="http://www.unizar.es/">University of Zaragoza</a>. The main areas of study during the degree were: Compilers and Operating Systems, Computer Networks and Distributed Systems, Computer Systems (Architecture, Parallel Processing, and Dependability) and Computer Vision and Robotics.

%h3
    Erasmus programme
%p
    During the 2009-2010 I studied for a year at <a href="http://www.kth.se/">Kungliga Tekniska Högskolan (KTH)</a>, in Stockholm. That year was very rewarding both personally and profesionally.



%h2
    Technologies
%h3
    Programming languages
%p
    I love Ruby and C, but I also have good programming skills in Java, SQL and Ada, and I have some programming experience in Python and x86 assembler. The markup languages that I have used more are XML and YAML. Database management: Oracle and DB2. Linux administration skills: bash, virtualization/cloud (VMware and KVM), datacenter automation (Puppet). Revision control: Subversion and Git.

%h3
    Natural languages
%p
    My mother tongue is Spanish and English (C2) is the next language with which I feel more comfortable. I studied some French but it was a long time ago and I have not brushed it up. I can also say some words in Swedish and I have convinced some of my friends that saying "ursäkta" instead of "excuse me" is actually funnier.
