!!!
%html
    %head
        %title
            David Ceresuela
        %link(rel="stylesheet" href="css/style3.css")
   
    %body
        #wrapper
            #header
                #logo
                    %h1
                        %a David Ceresuela
                    /.slogan
                    /    Design by somebody that I used to know
            #menu
                %ul
                    /%li About
                    %li <a href="https://github.com/dcere">Github</a>
                    %li <a href="resume.pdf">CV</a>
                    %li <a href="mailto:david.ceresuela@gmail.com">Contact</a>
            #page
                #sidebar
                    .box
                        %h3 About
                        %p
                            I am David Ceresuela, a Computer Engineer living in Zaragoza, Spain. I have just finished my master thesis and I am quite happy about it. When I am not in front of the computer I am probably playing the guitar or reading a book.
                #content
                    .box
                        %h2
                            Education
                        /%h3
                        /    Thesis
                        %p
                            I have finished the master thesis to be finally a Computer Engineer. This thesis is a <a href="http://puppetlabs.com/">Puppet</a> extension to manage clouds, and you can find the code <a href="https://github.com/dcere/pfc">here</a>.
                        %h2
                            Programming Languages
                        %p
                            I love Ruby and C. Good programming skills in Java, SQL and Ada. Programming experience in Python and x86 assembler. Markup languages: XML, YAML. Database management: Oracle and DB2. Linux administration skills: bash, virtualization/cloud (VMware and KVM), datacenter automation (Puppet). Revision control: Subversion and Git.


        #footer
            &copy; 2012 dcere.herokuapp.com | Powered by <a href="http://nodethirtythree.com/jquery/dropotron">Dropotron</a> | Design by <a href="http://www.freecsstemplates.org/">FCT</a>