!!!
%html
    %head
        %title
            David Ceresuela
        %link(rel="stylesheet" href="css/style4.css")
        /%link(rel="stylesheet" href="css/skills.css")
   
    %body
        #wrapper
            #header
                #logo
                    %h1
                        %a David Ceresuela
                    /.slogan
                    /    Design by somebody that I used to know
            #menu
                %ul
                    %li
                        %a{:href => '/'} Home
                    %li
                        %a{:href => 'https://github.com/dcere'} Github
                    %li
                        %a{:href => 'cv.pdf'} CV
                    %li
                        %a{:href => '/contact'} Contact
            #page
                #sidebar
                    .box
                        %h3 About
                        %p
                            I am David Ceresuela, a Computer Engineer living in Zaragoza, Spain. I have just finished my master thesis and I am quite happy about it. When I am not in front of the computer I am probably playing the guitar or reading a book. A year ago, tired of being sluggish I started running. It is also tiring, but feels better.
                #content
                    .box
                        =yield


        #footer
            &copy; 2012 David Ceresuela -
            %a{:href => "http://dcere.herokuapp.com"} dcere.herokuapp.com
            | Powered by
            %a{:href => "http://nodethirtythree.com/jquery/dropotron"} Dropotron
            | Design by
            %a{:href => "http://www.freecsstemplates.org/"} FCT