With skills.css (Might be copyright issues)
.block
    .skill
        %p Ruby
        .skill-level
            .full-square
            .full-square
            .full-square
            .empty-square
            .empty-square
    .skill
        %p C
        .skill-level
            .full-square
            .full-square
            .full-square
            .full-square
            .empty-square
    .skill
        %p Java
        .skill-level
            .full-square
            .full-square
            .full-square
            .empty-square
            .empty-square
    .skill
        %p SQL
        .skill-level
            .full-square
            .full-square
            .full-square
            .empty-square
            .empty-square

.block2
    .skill
        %p Ada
        .skill-level
            .full-square
            .full-square
            .full-square
            .empty-square
            .empty-square
    .skill
        %p Python
        .skill-level
            .full-square
            .empty-square
            .empty-square
            .empty-square
            .empty-square
    .skill
        %p x86 assembly
        .skill-level
            .full-square
            .full-square
            .empty-square
            .empty-square
            .empty-square